<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashkasystems.testapp1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseExerciseActivity" />
        <activity android:name=".ChooseImageExerciseActivity" />
        <activity android:name=".ReorderTextExerciseActivity" />
        <activity android:name=".RelateExerciseActivity" />
        <activity android:name=".ReorderWordsExerciseActivity" />
        <activity android:name=".ShapeColoringExerciseActivity" />
        <activity android:name=".CompileSceneExerciseActivity" />
        <activity android:name=".CompileSceneExercisePrepareActivity"></activity>
    </application>

</manifest>